<header>
    <%- include('layout/main'); %>
</header>
<body>
    <div class="row">
        <% ideas.forEach(function(ideas){ %>
            <div class="col-lg-4 col-md-5 mb-5">
                <div class="card mr-0">
                    <div>
                        <a href="/ideas/edit/<%=ideas.id%>"> <button class="btn pmd-btn-fab pmd-ripple-effect btn-danger pmd-btn-raised" type="button"><i class="fa fa-pencil"></i></button> </a>
                    </div>
                    <div class="card-body">
                        <h5><%= ideas.title %></h5>
                        <hr>
                        <p class="ideas-text"><%= ideas.details%></p>
                    </div>
                    <div class="card-action">
                        <div class="text-center">
                      <a href="/ideas/show/<%=ideas.id%>"><button type="button" class="btn btn-secondary float-center" style="margin-bottom: 10px;">Read more</button></a>
                    </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</body>